/* .floating-whatsapp .floating-icon:hover {
    color: #fff; /* Specify the color you want on hover */
    transition: color 0.3s ease, transform 0.3s ease; /* Add smooth transitions for color and transform */
    transform: scale(1.1); /* Add a zoom effect on hover */
} */
